//---===Variables===---//

$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

$primary-font: 'Barlow Semi Condensed', sans-serif;

//---===Mixins===---//

@mixin font($color: $white, $family: $primary-font) {
  color: $color;
  font-family: $family;
}

//---===Styles===---//

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

body {
  font-family: $primary-font;
  font-weight: 500;
  background-color: $light-grayish-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  display: grid;
  justify-items: center;
  max-width: 88%;
  gap: 2em
}

.box {
  background-color: $white;
  padding: 1.5em 2.6em;
  border-radius: 0.7em;
  box-shadow: 30px 30px 65px -70px $very-dark-blackish-blue;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(4) {
  color: $white;
}

.box:nth-child(3),
.box:nth-child(5) {
  color: $very-dark-grayish-blue;
}

.box:nth-child(1) {
  background: url('../../images/bg-pattern-quotation.svg') no-repeat 88% top, $moderate-violet;
}

.box:nth-child(2) {
  background-color: $very-dark-grayish-blue;
}

.box:nth-child(4) {
  background-color: $very-dark-blackish-blue;
}

.box-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 0 1em;
}

.user-image {
  grid-row: 1 / -1;
  border-radius: 100%;
  max-width: 35px;
  box-shadow: 0 0 10px -5px $light-gray;
}

.user-name,
.user-status { margin: 0; }

.box-title { line-height: 1.25em; }
.user-status { opacity: 0.7; }

.box-subtitle {
  opacity: 0.5;
  line-height: 1.5em;
}